*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board{
  width: 100%;
  height: 100vh;
  border-bottom: 30px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF)
}

button {
  background: green;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  position: absolute;
  right: 50vw;
  top: 50vh;
  cursor: pointer;
  z-index: 1;
}

.pipe {
  position: absolute;
  bottom: 0;
  right: -80px;
  width: 80px;
}

.mario{
  width: 150px;
  position: absolute;
  bottom: 0;
}

.clouds {
  width: 550px;
  position: absolute;
  top: 0;
  animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}

.pipe-animation {
  animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

.jump {
  animation: jump 800ms ease-out;
}

@keyframes jump {
  0% {
    bottom:  0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}